<a href="https://colab.research.google.com/github/Rockwel09/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
a = 7
b = 6

print(10>9)
print(10<9)
print(a>b)

True
False
True

Bool () Function

In [2]:
print(bool("Rockwel"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Function can return a Boolean

In [3]:
def my_Function():
 return True
print(my_Function())

True

In [4]:
if my_Function():
  print("True")
else:
  print("False")

True

Application 1

In [5]:
print (10>9)

a=6
b=7

print(a==b)
print(a!=b)

True
False
True

Phyton Operators

In [6]:
print(10+5)
print(10-5)
print(10/3)
print(10*5)
print(10%5)
print(10//3)   #10/3 = 3.3333
print(10**2)

15
5
3.3333333333333335
50
0
3
100

Bitwise Operators

In [7]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [8]:
h = True
l = False
h and l 
h or l
not(h or l)

False

Application 2

In [ ]:
[]    #Phython Assignment Oprators

In [9]:
x = 100
x +=3 # Same as x = x +3, x = 100+3=103
print(x)

103

Identity Operators

In [10]:
h is l 
h is not l

True

# Control Structure

If Statement

In [32]:
if a>b:
  print("a is greater than b")

Elif Statement

In [21]:
if a<b:
  print("a is less than b")
elif a>b:
    print("a is greater than b")

a is less than b

Else Statement

In [24]:
a = 10
b = 10


if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [25]:
if a==b: print("a is equal to b")

a is equal to b

Short Hand If...Else Statement

In [34]:
a = 10
b = 9
print("a is greater than b") if a>b else print('b is greater than a')

a is greater than b

And

In [35]:
if a>b and b==b:
  print("Both conditions are true")

Both conditions are true

Or

In [37]:
if a<b or b==b:
  print("The condition is True")

The condition is True

Nested If

In [47]:
x = int(input())

if x>10:
  print("x is above 10")
  if x>20:
    print("and also above 20")
    if x>30:
      print("and also above 30")
      if x>40:
        print("and also above 40")
        if x>50:
          print("and also above 50")
        else:
          print("but not above 50")

48
x is above 10
and also above 20
and also above 30
and also above 40
but not above 50

#Loop Statement

For Loop

In [48]:
week = ['Sunday',"Monday",'Tuesday',"Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The Break Statement

In [51]:
#to display Sunday to Wednesday using For loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday
Monday
Tuesday
Wednesday

In [50]:
#to display only Wednesday using break statement

for x in week:
  if x=="Wednesday":
    break
print(x)

Wednesday

While Statement

In [52]:
i =1
while i<6:
  print(i)
  i+=1 #same as i = i+1

1
2
3
4
5

Application 3 - Create a phyton program that displays no. 3 using break statement

In [54]:
i =1
while i<6:
  if i==3:
    break
  i+=1
print(i)

3